body{
    background-color: #1f1f1f;
}
.sliderBars{
    width: 100%;
    background-color: #000030;
    height: 50vh;
    position: fixed;
    z-index: 999;
    &.topBar{
        background-image: url("images/denim.jpg");
    }
    &.bottomBar{
        background-image: url("images/circuit board.jpg");
    }
}
.firstBlockContainer{
    position:relative;
    height: 150vh;
    width:100%;
    left:0;
    overflow: hidden;
    .firstBlock{
        background-color: #636363;
        position:absolute;
        top:0;
        width:100%;
        .left{
            height: 100vh;
            width:50%;
        }
        .right{
            height: 100vh;
            width:50%;
        }
        .top{
            width: 100%;
            height: 50vh;
            position: relative;
            display: flex;
        }
        .bottom{
            width: 100%;
            height: 50vh;
            position: relative;
            display: flex;
        }
        h1{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 15vw;
            display: flex;
            margin: 0px;
        }
    }
}
@media only screen and (max-width: 800px) {
    .firstBlockContainer {
        .firstBlock{
            .left{
                height: 50vh;
                width:100%;
            }
            .right{
                height: 50vh;
                width:100%;
            }
            .top{
                width: 100%;
                height: 25vh;
                position: relative;
                justify-content: center;
            }
            .bottom{
                width: 100%;
                height: 25vh;
                position: relative;
                justify-content: center;
            }
        }
    }
  }