body{
    background-color: #1f1f1f;
}
.sliderBars{
    width: 100%;
    background-color: #000030;
    height: 50vh;
    position: fixed;
    z-index: 999;
    &.topBar{
        background-image: url("images/denim.jpg");
    }
    &.bottomBar{
        background-image: url("images/circuit board.jpg");
    }
}
.firstBlock{
    position:relative;
    height: 150vh;
    background-color: red;
    h1{
        position: absolute;
        top: 0;
    }
}